<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <section>
    <div class="card">
      <h3 class="card-header">Forgot Password</h3>
      <div class="card-body">
        <form th:action="@{/auth/forgot-password/}" action="#" method="POST">
          <!-- email -->
          <div class="mb-3">
            <label for="email" class="form-label">
              Enter your registered email *
            </label>
            <input type="text" name="email" class="form-control" id="email" />
          </div>

          <!-- submit button -->
          <button class="btn btn-primary" type="submit">send reset link</button>
        </form>
      </div>
    </div>
  </section>
</html>
