<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <section>
    <div class="card">
      <h3 class="card-header">Forgot Password</h3>
      <div class="card-body">
        <form
          th:action="@{/auth/reset-password/}"
          action="#"
          method="POST"
          th:object="${passwordReset}"
        >
          <!-- otp -->
          <div class="mb-3">
            <label for="otp" class="form-label">Enter Otp *</label>
            <input
              type="text"
              name="otp"
              class="form-control"
              id="otp"
              th:classappend="${#fields.hasErrors('otp') ? 'is-invalid' : ''}"
              th:value="${passwordReset.otp}"
            />
            <div
              class="invalid-feedback"
              th:each="e : ${#fields.errors('otp')}"
              th:text="${e}"
            ></div>
          </div>

          <!-- email -->
          <input type="hidden" name="email" th:value="${passwordReset.email}" />

          <!-- new password -->
          <div class="mb-3">
            <label for="password" class="form-label">New Password *</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
              th:value="${passwordReset.password}"
            />
            <div
              class="invalid-feedback"
              th:each="e : ${#fields.errors('password')}"
              th:text="${e}"
            ></div>
          </div>

          <!-- submit button -->
          <button class="btn btn-primary" type="submit">reset password</button>
        </form>
      </div>
    </div>
  </section>
</html>
